#container {
  font-size: 20px;
  padding: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 750px;
  width: 1400px;
  border-radius: 10px;
  opacity: 150px;
  border: 1px solid #323232;
  box-shadow: 0 0 10px 3px black;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

body {
  padding: 0;
  margin: 0;
  background: none;
}

.challenge-list .card {
  display: block;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  width: 300px;
  height: 300px;
  position: absolute;
}

.challenge-list .card .content {
  position: absolute;
  float: left;
  background: none;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.challenge-list .card:active .content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.challenge-list .card .front,
.challenge-list .card .back {
  position: absolute;
  background: white;
  color: #03446a;
  text-align: center;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 300px;
  height: 400px;
}

.challenge-list .card .back {
  background: #2c73df;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.challenge-list .card .front.back:after {
  display: block;
}

.challenge-list .card .front:hover .bottom {
  display: block;
}

.challenge-list .card .front:hover .top {
  display: none;
}

.challenge-list .card .front .top {
  background: #2c73df;
  color: #fff;
}

.challenge-list .card .front .bottom {
  display: none;
}

.challenge-list .card .front .slide {
  width: 300px;
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.challenge-list .card .front .slide.slide1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.challenge-list .card .front:hover .slide.slide1 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.challenge-list .card .front .slide.slide2 {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.challenge-list .card .front:hover .slide.slide2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.challenge-list .card .front .slide.slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.loading .ring {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #00c3ff;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #008cff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading .ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #00c3ff;
  border-right: 3px solid #00c3ff;
  border-radius: 50%;
  -webkit-animation: animateC 2s linear infinite;
          animation: animateC 2s linear infinite;
}

.loading span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}

.loading span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00c3ff;
  top: -6px;
  right: -8px;
  -webkit-box-shadow: 0 0 20px #00c3ff;
          box-shadow: 0 0 20px #00c3ff;
}

@-webkit-keyframes animateC {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animateC {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
/*# sourceMappingURL=style.css.map */